:root {
    --button-bg: #131313; /*white*/
    --button-highlight: white; /*black*/
    --textarea-bg: #111111; /**/
    --scrollbar-thumb: #323232; /**/
    --scrollbar-thumb-hover: #404040; /**/
    --body-bg: #191919; /*whitesmoke*/
    --button-hover: #252525; /**/
    --button-active: #505050; /**/
    --cursor: auto;
}

* {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 10px;
    cursor: var(--cursor);
}

body {
    background-color: var(--body-bg);
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
    color: white;
}

header, main {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--button-highlight)
}

a {
    border: solid 1px var(--button-highlight);
    background-color: var(--button-bg);
    color: var(--button-highlight);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 14px;
    margin: 0 auto;
    user-select: none;
}

textarea {
    color: var(--button-highlight);
    background-color: var(--textarea-bg);
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

textarea.input {
    overflow-y: scroll;
}

textarea.output {
    resize: vertical;
}

textarea, hr {
    border: none;
}

a:hover {
    background-color: var(--button-highlight);
    color: var(--body-bg);
    transition: 0.2s;
    cursor: pointer;
}

a:active {
    background-color: var(--button-active);
}

input {
    background-color: var(--button-bg);
    color: var(--button-highlight);
}

input[type="number"], input[type="text"], select {
    border-radius: 2.5px;
    border: solid 1px var(--button-highlight);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: var(--button-bg);
    color: var(--button-highlight);
}

input[type="text"] {
    text-align: left !important;
}

#input-area, #output-area, #custom-parameter-input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-window, .gs-hidden {
    opacity: 0;
    display: none;
}

#error-code {
    color: var(--button-bg);
}

.red-error {
    color: #ff6262;
    border-color: #ff6262;
}

#error-message, #error-message > div > a {
    border-color: #ff6262;
}

#error-message > div > a:hover {
    background-color: #ff6262;
    color: var(--body-bg);
}

.popup {
    position: fixed;
    border-radius: 5px;
    border: solid 1px var(--button-highlight);
    width: auto;
    height: auto;
    top: 45%;
    left: 49.5%;
    z-index: 2;
    text-align: center;
    color: var(--button-highlight);
    opacity: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
    background-color: var(--textarea-bg);
    transition: 0.2s;
}

.options-toggle {
    display: none;
}

.small-ribbon-button {
    font-size: 11px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.error-popup-header {
    background-color: #ff6262 !important;
}

.version-number, .popup-header, .error-popup-header {
    padding: 5px;
    color: var(--body-bg);
    background-color: var(--button-highlight);
    border-radius: 2.5px;
}

.version-number {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin: 0 auto;
}

.div-center {
    text-align: center;
}

.div-left {
    text-align: left;
}

.disable-anchor-tags {
    pointer-events: none;
    user-select: none;
}

.rp-disabled {
    color: grey;
    border-color: grey;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--textarea-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}