* {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 10px;
}

body {
    background: whitesmoke;
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
}

header, main {
    text-align: center;
}

a {
    border: dashed 1px black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.25s;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

textarea.input {
    overflow-y: scroll;
}

textarea, hr {
    border: dashed 1px black;
}

a:hover {
    background-color: gainsboro;
    transition: 0.25s;
    cursor:pointer;
}

a:active {
    background-color: white;
}

input[type='number'] {
    width: 3em;
    padding: 5px;
    border-radius: 2.5px;
    border: dashed 1px black;
}

#input-area {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: fixed;
    display: block;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

#multi-attack-info-overlay {
    position: fixed;
    display: none;
    border-radius: 5px;
    border: dashed 1px black;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);;
    width: 25%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255);
    z-index: 2;
    text-align: center;
    color: black;
    opacity: 0;
    transition: 0.5s;
}

#multi-attack-info {
    font-size: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 90px;
}

.options-toggle {
    display: none;
}

.multi-attack-example {
    text-align: left;
    background-color: gainsboro;
    font-family: monospace;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
}